@model IEnumerable<CarPooling.Models.Viaggio>

@{
    ViewBag.Title = "ViaggiDisponibili";
}
<style>
    tr.no-border td {
        border-bottom: none;
        border-top: none
    }
</style>
<h2>I tuoi viaggi</h2>
<p>
    @Html.ActionLink("Nuovo", "CreaViaggio", "Viaggi")
</p>
<div class="row" style="font-weight:bold;font-size:20px">
    <div class="col-md-3">
        Data
    </div>
    <div class="col-md-3">
        Orario di partenza
    </div>
    <div class="col-md-3">
        Tratta
    </div>
    <div class="col-md-3">
        @Html.DisplayNameFor(model => model.Costo)
    </div>
</div>
<hr />
@foreach (CarPooling.Models.Viaggio item in Model)
{
    <div class="itemViaggio" data-id="@item.IdViaggio" sstyle="font-size:16px;padding:4px">
        <div class="row">
            <div class="col-md-3">
                @item.DataOraPartenza.ToShortDateString()
            </div>
            <div class="col-md-3">
                @item.DataOraPartenza.ToShortTimeString()
            </div>
            <div class="col-md-3">
                @item.CittaPartenza -> @item.CittaArrivo
            </div>
            <div class="col-md-3">
                € @item.Costo.ToString("N")
            </div>
        </div>
        <div class="itemDetails" style="display:none;color:dimgray;font-size:16px">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    Partenza da @item.CittaPartenza alle @item.DataOraPartenza.ToShortTimeString()
                </div>
                <div class="col-md-3">
                    Arrivo a @item.CittaArrivo previsto alle @item.DataOraArrivo.ToShortTimeString()
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    Quota richiesta: € @item.Costo.ToString("N")
                </div>
            </div>
            @if (item.Bagagli)
            {
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        &#10004     Bagagli
                    </div>
                </div>
            }
            @if (item.Animali)
            {
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        &#10004     Animali
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    Soste previste: @item.SostePreviste
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    Passeggeri:
                    <ul id="ListaPass">
                    </ul>

                </div>
                @if (item.Disponibile)
                {
                    <div class="col-md-3">
                        @using (Html.BeginForm("ChiudiPrenotazione", "Autista"))
                        {
                            @Html.Hidden("id", item.IdViaggio)
                            @Html.Hidden("autista", item.FK_EmailAutista)
                            <button type="submit" class="btn btn-success">Chiudi</button>
                        }
                    </div>
                }

            </div>
        </div>
    </div>
    <hr />
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".itemViaggio").hover(function () {
                $(this).css('cursor', 'pointer');
                $(this).css("background-color", "lavender");
            }, function () {
                $(this).css("background-color", "white");
            });
            $('.itemViaggio').click(function () {
                $(this).children('#ListaPass').empty()
                $(this).children('.itemDetails').slideToggle();
                /*if(toggleisdown)*/
                var idViaggio = $(this).data('id');
                console.log("data-id trovato:", idViaggio);
                $.ajax({
                    url: '@Url.Action("GetViaggiatori", "Viaggi")',
                    type: 'GET',
                    dataType: 'json',
                    data: { id: idViaggio },
                    success: function (data) {
                        console.log(data);
                        $.each(data, function (index, item) {
                            var itemLi = "<li>" + item.Nome +
                                " " + item.Cognome + "</li>";

                            $(this).children('#ListaPass').append(itemLi);
                        })
                    },  
                    error: function () {
                        console.error("Errore durante la chiamata AJAX:");  
                    }
                });
            });
        });
    </script>
}
